<!-- este form usa a gem simple_form -->
<div class="form-inputs">
<%= simple_form_for article do |form| %>
  <%= form.input :title %>
  <%= form.input :body, input_html: {rows: 10} %>
  <%= form.association :category, collection: Category.sorted, placeholder: 'Choose one category.' %>
</div>


  <div class="form-actions mb-5">
    <%= form.button :submit, class: 'btn btn-primary' %>
    <%= link_to 'Back', root_path, class: 'btn btn-info' %>
  </div>

<% end %>
